# Node modules
node_modules/

# Environment variables
.env

# TypeScript build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# ts-node cache
.ts-node-dev-cache/

# Coverage reports (if using coverage tools like nyc or jest)
coverage/